body{
    margin: 0 auto;
    width: 800px;
    border: 1px solid #0000004f;
    font-family: 'arial';
    color: #353535fa;
}

.content{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;

}

header{
    display: flex;
    height: 90px;
}

.header-big-button{
    width: 190px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-small-button{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.like{
    text-decoration: none;
    color: #ff3636;
}

.svg-like{
    width: 70px ;
    height: 70px ;
    viewBox: 0 0 70px 70px;
}

.circle{
    width: 70px;
    height: 70px;
}

.circle-mobile{
    width: 25px;
    height: 25px;
    position: relative;
}

.circle-style{
    r: 30px;
    cx: 35px;
    cy: 35px;
    fill: rgba(255,255,255,255);
    stroke: #ff3636;
    stroke-width: 1px;
}

.circle-style-mobile{
    r: 10px;
    cx: 12px;
    cy: 12px;
}

.hide{
    stroke: blue;
}

line{
    stroke: blue;
}

.heart{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 13px;
    transition: .5s;
}

.heart-true{
fill:#ff3636;
stroke:white;
}

.heart-false{
    fill:white;
    stroke:#ff3636;
}

.online-icon {
    display: inline-block;
    width: 20px;
    height: 10px;
    stroke-width: 0;
    stroke: currentColor;
    fill: blue;
}

.user-online{
    fill: #36e236;
}
.user-afk{
    fill: orangered;
}
.user-ofline{
    fill: gray;
}

.online{
    position: relative;
}

.mobile{
    position: absolute;
    top: 3px;
    left: 0px;
}

.profile-icon {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 40px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.profile-info{
    display: flex;
    align-items: center;
    width: 135px;
    font-weight: 600;
    justify-content: space-between;
}

.circle-profile{
    position: absolute;
    fill: white;
    stroke: #b1b0af;
    stroke-width: 1px;

}

.image-profile{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 4px;
    fill: #b1b0af;
}

.image-super-like{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 5px;
}

.super-like{
    fill: white;
    stroke: #ff6a00;
    stroke-width: 1px;
}



.icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: 70px;
    height: 70px;
    transition: .5s;
    fill: rgba(255,255,255,255);
    filter: url(#shadow);
    stroke: #ff3636;
    stroke-width: 5;
    }
A:hover .icon {
    fill: rgba(255,255,255,255);
    stroke: rgba(255,255,255,255);
    stroke-width: 5;
}
A:hover .circle-style {
    fill: #ff3636;
    stroke: currentColor;
    stroke-width: 5;
}
A:hover .hide {
    fill: blue;
    stroke: blue;
    stroke-width: 5;
}
A:hover line{
    stroke: rgba(255,255,255,255);
    stroke-width: 2;
}

.none{
    display: none;
}

.photo{
    cursor: pointer;
}

.s1{
    background-image: url('../img/s1.jpg');
}
.s2{
    background-image: url('../img/s2.jpg');
}
.s3{
    background-image: url('../img/s3.jpg');
}
.s4{
    background-image: url('../img/s4.jpg');
}
.s5{
    background-image: url('../img/s5.jpg');
}
.s6{
    background-image: url('../img/s6.jpg');
}
.s7{
    background-image: url('../img/s7.jpg');
}
  
  .carousel {
    position: relative;
    width: 800px;
  }
  
  .carousel img {
    width: 134px;
    height: 160px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .arrow {
    position: absolute;
    top: 60px;
    border-radius: 15px;
    display: block;
    width: 30px;
    height: 30px;
    background: #0000007a;
    border: none;
    color:white;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: black;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    overflow: hidden;
  }

  .gallery-big{
    overflow: hidden;
    height: 500px;
    display: flex;
  }
  
  .gallery ul {
    height: 140px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
  
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }

  .education{
    width: 479px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #00000038;
  }

  h1{
    margin-left: 60px;
  }

  .about-education{
    position: relative;
  }

  .about-education::after{
    content: ' ';
    width: 410px;
    position: absolute;
    top: 50px;
    left: -20px;
    border-bottom: 1px solid black;
  }

  .map {
    width: 527px;
    height: 140px;
    margin-left: 40px;
    margin-right: 17px;
    background-color: grey;
  }

  .double-content{
      display:flex;
  }

  .score{
  
  }

  .carousel-big-photo{
    position: relative;
    width: 718px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
  }

  .big-photo{
    margin: 0 auto;
    max-height: 100%;
  }

  .button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
  }

  .button-nav{
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .button-wrapper span>img{
    width:10px;
  }

  .gifts{
    border-left: 1px solid #00000038;
  }

  .social{
    width: 469px;
  }

  .contacts{
    border-left: 1px solid #00000038;
  }

  h3,p{
    margin-left: 40px;
    position: relative;
  }

  .after-line::after{
    content: ' ';
    width: 100%;
    position: absolute;
    top: 50px;
    left: -20px;
    border-bottom: 1px solid #00000038;
  }

  .about-profile{
    width: 325px;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }