body {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'arial';
    color: #353535fa;
    background-color: #eeeeee
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.nav {
    width: 198px;
}

.menu ul {
    list-style: none;
}

.people p {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.people ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.friends ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.friends img {
    width: 45px;
    margin: 3px;
    border-radius: 50%;
}

.friends a {
    position: relative;
}

.right-content {
    margin-left: 10px;
    margin-top: -95px;
}

.friends a::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: #969696;
    border-radius: 50%;
}

.people img {
    width: 56px;
    margin: 3px;
    border-radius: 50%;
}

.people li:first-child {
    margin-left: 65px;
}

.people a {
    position: relative;
}

.people a::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: #fd8e65;
    border-radius: 50%;
}

li a {
    text-decoration: none;
    cursor: pointer;
    color: #777777;
}

li {
    margin: 5px 0;
}

li a:hover {
    color: #7201eb;
}

.active {
    color: #7201eb;
}

.info {
    display: flex;
    flex-direction: column;
    width: 800px;
    background: white;
    border: 2px solid #0000002e;
    border-top: none;
}

header {
    display: flex;
    height: 90px;
    width: 800px;
    background: white;
    border: 2px solid #0000002e;
    border-top: none;
    border-bottom: none;
}

.header-big-button {
    width: 190px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-small-button {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.super-like {
    text-decoration: none;
    color: #ff3636;
}

.super-like ellipse {
    fill: white;
    stroke: #ff3636;
    stroke-width: 1px;
    transition: .3s;
}

.super-like path {
    fill: white;
    stroke: #ff3636;
    stroke-width: 1px;
    transition: .3s;
}

.super-like:hover path {
    fill: white;
    stroke: white;
    stroke-width: 1px;
    transition: .3s;
}

.super-like:hover ellipse {
    fill: #ff3636;
    stroke: #ff3636;
}

.super-like-true path {
    fill: #ff3636;
    stroke: #ff3636;
    stroke-width: 1px;
    transition: .3s;
}

.like {
    text-decoration: none;
    color: #ff3636;
}

.like ellipse {
    fill: white;
    stroke: #ff3636;
    stroke-width: 1px;
    transition: .3s;
}

.like path {
    fill: white;
    stroke: #ff3636;
    stroke-width: 1px;
    transition: .3s;
}

.like:hover ellipse {
    fill: #ff3636;
    stroke: #ff3636;
}

dislike {
    text-decoration: none;
    color: #0329b3;
}

.dislike ellipse {
    fill: white;
    stroke: #0329b3;
    stroke-width: 1px;
    transition: .3s;
}

.dislike line {
    fill: none;
    stroke: #0329b3;
    stroke-width: 1px;
    transition: .3s;
}

.dislike:hover ellipse {
    fill: #0329b3;
    stroke: #0329b3;
}

.dislike:hover line {
    fill: none;
    stroke: white;
}

.dislike-true line {
    fill: none;
    stroke-width: 3px;
    stroke: #0329b3;
}

.svg-like {
    width: 70px;
    height: 70px;
    viewBox: 0 0 70px 70px;
}

.circle {
    width: 70px;
    height: 70px;
}

.circle-mobile {
    width: 25px;
    height: 25px;
    position: relative;
}

.circle-style {
    r: 30px;
    cx: 35px;
    cy: 35px;
    fill: rgba(255, 255, 255, 255);
    stroke: #ff3636;
    stroke-width: 1px;
}

.circle-style-mobile {
    r: 10px;
    cx: 12px;
    cy: 12px;
}

.hide {
    stroke: blue;
}

line {
    stroke: blue;
}

.heart {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 13px;
    transition: .5s;
}

.heart-true path {
    fill: #ff3636;
    stroke: white;
}

.user-online {
    fill: #36e236;
}

.user-afk {
    fill: orangered;
}

.user-ofline {
    fill: gray;
}

.online ellipse {
    stroke: #0f81a2;
    fill: none;
}

.online path {
    stroke: #0f81a2;
    fill: none;
}

.mobile {
    position: absolute;
    top: 3px;
    left: 0px;
}

.profile-info {
    display: flex;
    align-items: center;
    width: 135px;
    font-weight: 600;
    margin-top: 10px;
    justify-content: space-between;
}

@keyframes scale {
    from {
        transform: scale(1)
    }
    50% {
        transform: scale(1.25)
    }
    to {
        transform: scale(1)
    }
}

.profile {
    text-decoration: none;
    color: #8a8a8a;
}

.profile ellipse {
    stroke: #8a8a8a;
    fill: white;
    transition: .3s;
}

.profile:hover ellipse {
    stroke: #8a8a8a;
    fill: #8a8a8a;
}

.click {
    animation: scale 0.5s;
}

.profile path {
    stroke: #8a8a8a;
    fill: white;
}

.image-super-like {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 5px;
}

.super-like {
    fill: white;
    stroke: #ff6a00;
    stroke-width: 1px;
}

.icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: 70px;
    height: 70px;
    transition: .5s;
    fill: rgba(255, 255, 255, 255);
    filter: url(#shadow);
    stroke: #ff3636;
    stroke-width: 5;
}

A:hover .icon {
    fill: rgba(255, 255, 255, 255);
    stroke: rgba(255, 255, 255, 255);
    stroke-width: 5;
}

A:hover .circle-style {
    fill: #ff3636;
    stroke: currentColor;
    stroke-width: 5;
}

A:hover .hide {
    fill: blue;
    stroke: blue;
    stroke-width: 5;
}

A:hover line {
    stroke: rgba(255, 255, 255, 255);
    stroke-width: 2;
}

.none {
    display: none;
}

.photo {
    cursor: pointer;
}

.count-photo {
    position: absolute;
    left: 100px;
    bottom: 40px;
    background: #000000c4;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    height: 20px;
    display: flex;
    align-items: center;
}

.count-photo i {
    height: 20px;
    width: 25px;
}

.count-photo i path {
    fill: white;
}

.report {
    position: absolute;
    right: 100px;
    bottom: 40px;
    background: #000000c4;
    color: white;
    padding: 6px 11px;
    border-radius: 50px;
    cursor: pointer;
}

.report:hover {
    background: black;
}

.s1 {
    background-image: url('../img/s1.jpg');
}

.s2 {
    background-image: url('../img/s2.jpg');
}

.s3 {
    background-image: url('../img/s3.jpg');
}

.s4 {
    background-image: url('../img/s4.jpg');
}

.s5 {
    background-image: url('../img/s5.jpg');
}

.s6 {
    background-image: url('../img/s6.jpg');
}

.s7 {
    background-image: url('../img/s7.jpg');
}

.carousel {
    position: relative;
    width: 800px;
}

.carousel img {
    width: 134px;
    height: 160px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    position: absolute;
    top: 60px;
    cursor: pointer;
}

.arrow-big {
    top: 50%;
}

.big-gifts {
    position: absolute;
    top: 0;
    left: 0;
    background: #2b2be8bd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-gifts img {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 10px;
    width: 25%;
}

.big-gifts p {
    margin: 7px;
    color: white;
    font-weight: 600;
}

.button-gift {
    margin: 5px;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.button-gift:hover {
    background: white;
}

a {
    position: relative;
}

a span {
    opacity: 0;
    border: 1px solid black;
    border-radius: 14px;
    white-space: nowrap;
    padding: 5px;
    position: absolute;
    top: 105%;
    left: 50%;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);
    z-index: 5;
    font-size: 11px;
    font-family: "Arial";
}

a span::after {
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    border: 7px solid transparent;
    border-bottom-color: rgb(0, 0, 0);
    transform: translateX(-50%);
}

a:hover span {
    opacity: 1;
}

.arrow:hover path {
    fill: white;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.gallery {
    overflow: hidden;
}

.gallery-big {
    overflow: hidden;
    height: 500px;
    display: flex;
}

.gallery ul {
    height: 140px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
}

.gallery li {
    display: inline-block;
}

.education {
    width: 479px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #00000038;
}

h1 {
    margin-left: 60px;
}

.about-education {
    position: relative;
}

.about-education::after {
    content: ' ';
    width: 410px;
    position: absolute;
    top: 50px;
    left: -20px;
    border-bottom: 1px solid black;
}

.map {
    width: 527px;
    height: 140px;
    margin-left: 40px;
    margin-right: 17px;
    background-color: grey;
    position: relative;
}

.whatch-map {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 112px;
    left: 75px;
    top: 10px;
}

.whatch-map p {
    margin: 10px 0;
}

.whatch-map button {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    position: static;
    background-color: #7201eb;
    border-radius: 5px;
    border: none;
    outline: none;
}

.whatch-map button:hover {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 15px;
    position: static;
    background-color: #410482;
    border-radius: 5px;
    border: none;
    outline: none;
}

.double-content {
    display: flex;
    position: relative;
}

.carousel-big-photo {
    position: relative;
    width: 720px;
    padding: 0px 40px;
    background: #6f6f6f;
}

.big-photo {
    margin: 0 auto;
    max-height: 100%;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.button-nav {
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 3px;
}

.button-wrapper span>img {
    width: 10px;
}

.gifts {
    border-left: 1px solid #00000038;
}

.social {
    width: 469px;
}

.contacts {
    border-left: 1px solid #00000038;
}

h3,
p {
    margin-left: 40px;
    position: relative;
}

.after-line::after {
    content: ' ';
    width: 100%;
    position: absolute;
    top: 50px;
    left: -20px;
    border-bottom: 1px solid #00000038;
}

.about-profile {
    width: 325px;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}